#pacient-details {
  padding-top: 60px;

  .title-action {
    display: flex;
    justify-content: space-between;

    button:last-child {
      margin-left: 16px;
    }

    h3 {
      margin: 0;
    }
  }

  hr {
    margin: 10px 0 20px;
  }

  .card {
    margin: 24px 0;
    padding: 16px;
  }

  .pacient-details {
    label {
      font-weight: 500;
      font-size: 14px;
      color: #888;
    }
  }
}