#pacient-new {
  padding-top: 60px;

  h3 {
    margin: 0;
  }

  hr {
    margin: 10px 0 20px; 
  }

  form {
    .button-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.card {
  margin: 24px 0;
  padding: 16px;
}

.choice-group {
  display: flex;
  flex-wrap: wrap;
}

.choice {
  padding: 7px 11px;
  line-height: 24px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  color: rgb(74, 74, 74);
  margin-right: 8px;
  margin-bottom: 12px;

  &.active {
    color: white;
    background-color: #2D9CDB;
  }
}
